@font-face {
    font-family: "Fira Code Nerd Font";
    font-style: normal;
    font-weight: 200;
    src: url('https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/FiraCode/Light/complete/Fura%20Code%20Light%20Nerd%20Font%20Complete%20Mono%20Windows%20Compatible.ttf?raw=true) format('truetype');
}
@font-face {
    font-family: "Fira Code Nerd Font";
    font-style: normal;
    font-weight: 400;
    src: url('https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/FiraCode/Retina/complete/Fura%20Code%20Retina%20Nerd%20Font%20Complete%20Mono%20Windows%20Compatible.ttf?raw=true') format('truetype');
}
@font-face {
    font-family: "Fira Code Nerd Font";
    font-weight: 600;
    src: url('https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/FiraCode/Medium/complete/Fura%20Code%20Medium%20Nerd%20Font%20Complete%20Mono%20Windows%20Compatible.ttf?raw=true') format('truetype');
}
@font-face {
    font-family: "Fira Code Nerd Font";
    font-weight: 800;
    src: url('https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/FiraCode/Bold/complete/Fura%20Code%20Bold%20Nerd%20Font%20Complete%20Mono%20Windows%20Compatible.ttf?raw=true') format('truetype');
}
